app/etc/local.xml
robots.txt
sitemap.xml
var/*
media/*
downloader/cache.cfg
downloader/connect.cfg
.htaccess
.git/*
/index.php
app/etc/fpc.xml
a.php
BingSiteAuth.xml
app/code/local/Mage/Core/Model/Layout.php