<?xml version="1.0"?>
<config>
	<modules>
		<Buildmatic_Brands>
			<version>0.1.0</version>
		</Buildmatic_Brands>
	</modules>
	<global>
		<blocks>
			<buildmatic_brands>
				<class>Buildmatic_Brands_Block</class>
			</buildmatic_brands>
		</blocks>
		<helpers>
			<buildmatic_brands>
				<class>Buildmatic_Brands_Helper</class>
			</buildmatic_brands>
		</helpers>
		<models>
			<buildmatic_brands>
				<class>Buildmatic_Brands_Model</class>
				<resourceModel>buildmatic_brands_resource</resourceModel>
			</buildmatic_brands>
			<buildmatic_brands_resource>
				<class>Buildmatic_Brands_Model_Resource</class>
				<entities>
					<brands>
						<table>buildmatic_brands</table>
					</brands>
				</entities>
			</buildmatic_brands_resource>
		</models>
		<resources>
			<buildmatic_brands_setup>
				<setup>
					<module>Buildmatic_Brands</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</buildmatic_brands_setup>
			<buildmatic_brands_write>
				<connection>
					<use>core_write</use>
				</connection>
			</buildmatic_brands_write>
			<buildmatic_brands_read>
				<connection>
					<use>core_read</use>
				</connection>
			</buildmatic_brands_read>
		</resources>
		<events>
        	<controller_front_init_routers>
	            <observers>
	                <buildmatic_brands>
	                    <type>singleton</type>
	                    <class>Buildmatic_Brands_Controller_Router</class>
	                    <method>initControllerRouters</method>
	                </buildmatic_brands>
	            </observers>
        	</controller_front_init_routers>
        	<sitemap_add_xml_block_to_the_end>
        		<observers>
	                <buildmatic_brands>
	                	<type>singleton</type>
	                	<class>buildmatic_brands/observer</class>
	                	<method>addBrandSection</method>
	                </buildmatic_brands>
                </observers>
            </sitemap_add_xml_block_to_the_end>
    	</events>
	</global>
	<frontend>
		<routers>
			<buildmatic_brands>
				<use>standard</use>
				<args>
					<module>Buildmatic_Brands</module>
					<frontName>brands</frontName>
				</args>
			</buildmatic_brands>
		</routers>
		<layout>
			<updates>
				<buildmatic_brands>
					<file>buildmatic_brands.xml</file>
				</buildmatic_brands>
			</updates>
		</layout>
	</frontend>
	<adminhtml>
		<acl>
	        <resources>
	        	<all>
                    <title>Allow Everything</title>
                </all>
	        	<admin>
	        		<children>
	        			<brands>
	        				<title>Brands</title>
	        				<children>
	        					<items>
	        						<title>Manage Brands</title>
        						</items>
    						</children>
                        </brands>
	        			<system>
	                        <children>
	                            <config>
	                                <children>
	                                    <brands_section>
	                                        <title>Brands Config</title>
	                                    </brands_section>
	                                </children>
	                            </config>
	                        </children>
	                    </system>
	                </children>
	           	</admin>
	       	</resources>
	   	</acl>
        <menu>
            <brands>
                <title>Brands</title>
                <sort_order>71</sort_order>              
                <children>
                    <items>
                        <title>Manage Brands</title>
                        <sort_order>0</sort_order>
                    	<action>adminhtml/brands</action>
                    </items>
                </children>
            </brands>
        </menu>
        <layout>
            <updates>
                <buildmatic_brands>
                    <file>buildmatic_brands.xml</file>
                </buildmatic_brands>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <buildmatic_brands before="Mage_Adminhtml">Buildmatic_Brands_Adminhtml</buildmatic_brands>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
