.brand-products-grid
{
	padding-top: 10px;
	margin-left: -10px;
}

.brand-products-grid .item{
	border: 1px solid #fff;
}

body .product-image img{
	text-align: center;
}

.brand-products-grid .item .item-area .details-area {
    padding: 10px;
}

.item-area .details-area .product-name{
	height: 50px;
	overflow-y: hidden;
	margin: 0 0 3px 0;
}

.brand-products-grid .item .item-area .details-area .ratings{
	background: none;
}

.brandName {
	font-size: 18px;
	font-weight: 700;
	line-height: 1.5;
	color: #333;
}

.brandSpecification{
	padding-bottom: 10px;
}

.brandDescription h2{
	font-size: 18px;
	color: black;
	font-weight: 400;
	padding: 10px 0px;
}

.brandDescription img{
	float: right;
	margin: 5px;
	border: 1px solid black;
	padding: 5px;
}

.brandDescription {
	/*border: 1px solid #ddd;*/
	font-size: 15px;
	color: #333;
}

.brandDescription strong{
	font-weight: bold;
}

.brandDescription ul{
	
}

.brandDescription li{
	list-style-type: disc;	
	position: relative;
	margin-left: 15px;
}

.price-box .price{
	color: #b12704;
	line-height: 1;
	vertical-align: middle;
	display: inline-block;
	font-weight: normal;
	font-size: 16px;
}

.f-left .catFilteringBlock .catFilteringBlockContent .filteredCatByMfg a{
	position: relative;
	line-height: 24px;
	color: #777;
	font-size: 13px;
}

.f-left .catFilteringBlock .catFilteringBlockContent .filteredCatByMfg{
	max-height: 150px;
	overflow: auto;
}

.f-left .catFilteringBlock{
	border: 1px solid #ddd;
	border-radius: 0px;
	margin-bottom: 14px;
}

.catFilteringBlock .block-title{
	font-weight: normal;
	font-size: 13px;
	text-transform: none;
	line-height: 1.2;
	padding: 10px 35px;
	border-radius: 0px;
	font-weight: normal;
	text-transform: none;
	border: 1px solid #ddd;
	background-color: #f5f5f5;
}

.f-left .catFilteringBlock .catFilteringBlockContent{
	padding: 10px 15px;
}

.brandpagetitle{
	padding-bottom: 15px;
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	color: #666262;
}

.manufacturer_list .brand{
	padding: 2px;
}

.brand .brand-image{
	border-color: 1px solid black;
	border: 1;
}

.brand-image-link{
	display: block;
	width: 50px;
	height: 50px;
}