<?xml version="1.0"?>
  <config>
     <modules>
           <Sz_Ajaxlogin>
                 <version>0.1.2</version>
           </Sz_Ajaxlogin>
      </modules>
	 <global>
		 <helpers>
			<ajaxlogin>
				<class>Sz_Ajaxlogin_Helper</class>
			</ajaxlogin>
		</helpers>
         <blocks>
             <ajaxlogin>
                 <class>Sz_Ajaxlogin_Block</class>
             </ajaxlogin>
         </blocks>
		<models>
            <ajaxlogin>
                <class>Sz_Ajaxlogin_Model</class>
            </ajaxlogin>   
        </models>
         <resources>
             <sz_ajaxlogin_setup>
                 <setup>
                     <module>Sz_Ajaxlogin</module>
                     <class>Sz_Ajaxlogin_Model_Resource_Setup</class>
                 </setup>
             </sz_ajaxlogin_setup>
         </resources>
	 </global>
    <frontend>
        <routers>
            <sz_ajaxlogin>
                <use>standard</use>
                <args>
                    <module>Sz_Ajaxlogin</module>
                    <frontName>ajaxlogin</frontName>
                </args>
            </sz_ajaxlogin>
			
        </routers>
        <translate>
            <modules>
                <ajaxlogin>
                    <files>
                        <default>Sz_Ajaxlogin.csv</default>
                    </files>
                </ajaxlogin>
            </modules>
        </translate>
        <layout>
            <updates>
                <ajaxlogin>
                    <file>ajaxlogin.xml</file>
                </ajaxlogin>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ajaxlogin_options>
                                            <title>Sz Ajax Login</title>
                                        </ajaxlogin_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <ajaxlogin_options>
            <ajaxlogin_google>
                <enabled>0</enabled>
            </ajaxlogin_google>
            <ajaxlogin_facebook>
                <enabled>0</enabled>
            </ajaxlogin_facebook>
        </ajaxlogin_options>
    </default>
 </config>